<!DOCTYPE html>
<html>
    <head>
        <title>Programming in Python</title>
        <style>
            table {
                width: 50%;
                border-collapse: collapse;
                margin: 20px auto;
            }
            th, td {
                border: 1px solid #000;
                padding: 8px;
                text-align: center;
            }
            th {
                background-color: #f2f2f2;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/add">Add record</a>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>